@import 'Variables';

body {
  @include initialConfig;
  background-color: black;
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  input {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    font-family: $secondaryFont;
    color: $textColor;
  }

  h1 {
    font-size: $header1;
  }

  h2 {
    font-size: $header2;
  }

  h3 {
    font-size: $header3;
  }

  h4 {
    font-size: $header4;
  }

  h5 {
    font-size: $header5;
  }

  button {
    @include closeBtn;
  }

  @include small-screen {
    button {
      width: 14px !important;
      height: 14px !important;
    }
  }

}


