@import 'Variables';

.navbar {
    display: grid;
    grid-template-columns: repeat(5, calc($iconH + 15px));

    &__icon {
        @include divImg(contain);
        width: $iconH;
        height: $iconH;
        border-radius: 10px;
        place-self: center;
    }
    .notes {
        background-image: url('../img/notes-icon.svg');
    }
    .safari {
        background-image: url('../img/safari-icon.svg');
    }
    .msg {
        background-image: url('../img/msg-icon.svg');
    }
    .mail {
        background-image: url('../img//mail-icon.svg');
    }
    .drawings {
        background-image: url('../img//drawings-icon.svg');
    }
}