@import 'Variables';

.topbar {
    @include glassTopNav;
    width: 100%;
    height: $topbarH;
    display: flex;
    flex-direction: row;
    align-items: center;

    #tag {
        font-family: "San Francisco Display Medium" !important;
    }

    .icon {
        @include divImg(contain);
        height: calc($topbarH - 10px);
        width: calc($topbarH - 10px);
    }

    &__apple {
        background-image: url('../img/apple-icon.svg');
        margin: 0 1rem;
    }

    &__brightness {
        background-image: url('../img/brightness-icon.svg');
        margin: 0 1rem 0 auto;
    }

    #date {
        width: 5rem;
        margin: 0 0.5rem 0 0;
    }
    #time {
        width: 3rem;
    }

    #date,
    #time {
        border: none;
        outline: none;
        background: transparent;
        color: $textColor;
        font-family: "San Francisco Display Medium";
        font-size: inherit;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    #date:focus,
    #time:focus {
        outline: none;
    }

    input[type="text"][disabled] {
        color: $textColor !important;
    }
}